fastapi
uvicorn[standard]
chromadb
sentence-transformers
langchain
langgraph
langchain-community
langchain-text-splitters
langchain-ollama
chromadb
GitPython
pydantic
python-multipart
streamlit
requests
